.button {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center; 
    border: 2px solid #43AC96;
    border-radius: 100vh;
    color: #43AC96;
    transition: all 0.3s ease;
}
.button:hover {
    color: #ffffff;
    background-color: #43AC96;
}
.arrow-right {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    transition: right 0.3s ease;
}
.button:hover .arrow-right {
    right: 13px;
}